.centered {
    text-align:center;
}

.logo {
    padding: 10px;
}
.logo h1 {
    text-align: center;
}

.profile-form {
    margin: 0 auto;
    max-width: 500px;
}
.profile-form .schedule {
    padding: 0 70px;
}
.profile-form .schedule label {
    float: left;
    user-select: none;
    /*! width: 10px; */
}
.profile-form .schedule input {
    float:left;
    margin: 0 5px;
}